/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
.env
.git
.gitignore
.gitattributes
/tests
/phpunit.xml
/README.md
docker-compose.yml
docker-compose.override.yml
Dockerfile
Dockerfile.prod
